.header {
	background-color: #161616;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 1180px;
		margin: 0 auto;

		@media @tablet {
			width: 748px;
		}

		@media @mobile {
			.mobile-wrap;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	&__first-button {
		padding: 15px 30px;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-right: 10px;
		background-color: #ed383f;
		transition: 0.1s;
		font-size: 16px;

		&:hover {
			background-color: #de3137;
		}

		@media @mobile {
			display: none;
		}
	}
	
	&__second-button {
		padding: 15px 30px;
		margin-top: 15px;
		margin-bottom: 15px;
		background-color: #5da972;
		transition: 0.1s;
		font-size: 16px;

		&:hover {
			background-color: #589f6c;
		}

		@media @mobile {
			display: none;
		}
	}
}

.main-nav {
	position: relative;
	display: flex;

	@media @tablet {

		&__menu-button {
			position: relative;
			width: 40px;
			height: 40px;
			cursor: pointer;
		}

		&__menu-line {
			width: 40px;
			height: 5px;
			margin-bottom: 12px;
			background-color: #fff;
			transition: 0.3s;
		}

		&__menu-line--hidden {
			margin-top: 17px;
			opacity: 0;
			transition: 0.3s;
		}

		&__menu-line--first {
			position: absolute;
			left: 0px;
			top: 17px;
			transform: rotate(45deg);
			transition: 0.3s;
		}

		&__menu-line--third {
			position: absolute;
			left: 0px;
			top: 17px;
			transform: rotate(-45deg);
			transition: 0.3s;
		}
	}

	@media @mobile {
		width: 100%;
		justify-content: space-between;
	} 

	&__logo {
		display: inline-block;
		width: 200px;
		height: 40px;
		margin-right: 50px; 
		background-image: url('../img/logo.png');

		@media @tablet {
			margin-left: 130px;
		}

		@media @mobile {
			width: 40px;
			margin: 0;
			background-image: url('../img/favicon.png');
		}
	}

	&__mobile-reg {
		display: none;

		@media @mobile {
			display: inline-block;
			width: 90px;
			background-color: transparent;
		}
	}

	&__mobile-enter {
		display: none;

		@media @mobile {
			display: inline-block;
			width: 90px;
			background-color: transparent;
		}
	}

	&__search-form {
		display: none;

		@media @mobile {
			display: inline-block;
			width: 40px;
			height: 40px;
		}
	}

	&__search-field {
		display: block; 
		height: 40px;
		width: 40px;
		border: none;
		background-color: transparent;
		transition: 0.3s;
		background-image: url('../img/magnifier-big.png');
		background-size: 100%;

		&:focus {
			position: absolute;
			z-index: 20;
			right: 0;
			width: ~"calc(100% - 50px)";
			background-color: #fff;
			background-image: none;
		}
	}

	&__search-close {
		position: absolute;
		z-index: 21;
		top: 0;
		right: 0;
		display: none;
		width: 40px;
		height: 40px;
		background-color: #fff;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 7px;
			right: 18px;
			width: 2px;
			height: 25px;
			background-color: #666666;
			transform: rotate(45deg);
		}

		&::after {
			content: '';
			position: absolute;
			top: 7px;
			right: 18px;
			width: 2px;
			height: 25px;
			background-color: #666666;
			transform: rotate(-45deg);
		}
	}

	&__list {
		padding: 10px 0;

		a {
			padding: 10px 0;
		}

		@media @tablet {
			position: absolute;
			left: 0;
			top: -500px;
			z-index: 11;
			width: 150px;
			padding: 0;
			border: 1px solid #000;
			background-color: #161616;
			transition: 0.3s;
		}

		@media @mobile {
			left: -10px;
			width: 150px;
		}
	}

	@media @tablet {
		&__list--show {
			top: 58px;
		}
	}

	@media @mobile {
		&__list--show {
			top: 50px;
		}
	}

	&__item {
		position: relative;
		display: inline-block;

		@media @tablet {
			display: block;
			width: 150px;
			margin-right: 0;
			text-align: center;

			a {
				display: block;
				width: 150px;
				padding: 20px 0;
			}
		}

		a {
			padding-top: 30px;
			padding-bottom: 30px;
			padding-left: 22px;
			padding-right: 22px;
			transition: 0.1s;

			&:hover {
				background-color: #ED383F;
			}
		}

		span {
			padding-top: 30px;
			padding-bottom: 30px;
			padding-left: 22px;
			padding-right: 22px;
			transition: 0.1s;
			cursor: pointer;

			&:hover {
				background-color: #ED383F;
			}

			@media @tablet {
				display: block;
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}			
	}

	&__dropdown {
		position: absolute;
		z-index: 11;
		top: 49px;
		list-style: none;
		transition: 0.1s;

		p {
			width: 200px;
			height: 200px;
			background-color: #313131;
			line-height: 200px;
			text-align: center;
		}

		@media @tablet {
			top: 0;
			left: 149px;
		}

		@media @mobile {
			top: -1px;
		}
	}

	&__dropdown-item {

		a {
			display: block;
			width: 150px;
			padding: 20px;
			background-color: #313131;

			&:hover {
				background-color: #414141;
			}
		}
	}

	&__item--arrow {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			left: ~"calc(50% - 7px)";
			bottom: -13px;
			width: 10px;
			height: 10px;
			border-right: 1px solid #bf3136;
			border-bottom: 1px solid #bf3136;
			transform: rotate(45deg);
		}

		@media @tablet {

			&::after {
				right: 20px;
				bottom: 23px;
				left: auto;
				transform: rotate(-45deg);
			}
		}
	}
}