.header {
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	background-color: #161616;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 1180px;
		margin: 0 auto;

		@media @tablet {
			width: 748px;
		}

		@media @mobile {
			.mobile-wrap;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}

	&__first-button {
		padding: 15px 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-right: 10px;
		background-color: #ed383f;
		transition: 0.1s;
		font-size: 16px;

		&:hover {
			background-color: #de3137;
		}

		@media @mobile {
			display: none;
		}
	}
	
	&__second-button {
		padding: 12px 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		transition: 0.1s;
		font-size: 16px;
		background-color: transparent;
		border: 3px solid @secondary-color;

		&:hover {
			border: 3px solid @secondary-color-hover;
			background-color: @secondary-color-hover;
		}

		@media @mobile {
			display: none;
		}
	}
}

.main-nav {
	position: relative;
	display: flex;

	@media @tablet {

		&__menu-button {
			position: relative;
			width: 30px;
			height: 30px;
			cursor: pointer;
		}

		&__menu-line {
			width: 30px;
			height: 4px;
			margin-bottom: 9px;
			background-color: #fff;
		}

		&__menu-line--hidden {
			margin-top: 17px;
			opacity: 0;
		}

		&__menu-line--first {
			position: absolute;
			left: 0px;
			top: 12px;
			transform: rotate(45deg);
		}

		&__menu-line--third {
			position: absolute;
			left: 0px;
			top: 12px;
			transform: rotate(-45deg);
		}
	}

	@media @mobile {
		width: 100%;
		justify-content: space-between;
		align-items: center;
	} 

	&__mobile-reg {
		padding: 5px 0;
		border: 2px solid #ed383f;
	}

	&__mobile-enter {
		padding: 5px 0;
		border: 2px solid @secondary-color;
	}

	&__logo {
		display: inline-block;
		width: 160px;
		height: 40px;
		margin-right: 50px; 
		background-image: url('../img/logo.png');
		background-position: center;

		@media @tablet {
			margin-left: 150px;
		}

		@media @mobile {
			width: 40px;
			margin: 0;
			background-image: url('../img/favicon.png');
			background-position: center;
		}
	}

	&__mobile-reg {
		display: none;

		@media @mobile {
			display: inline-block;
			width: 90px;
			background-color: transparent;
		}
	}

	&__mobile-enter {
		display: none;

		@media @mobile {
			display: inline-block;
			width: 90px;
			background-color: transparent;
		}
	}

	&__search-form {
		display: none;

		@media @mobile {
			display: inline-block;
			width: 30px;
			height: 30px;
		}
	}

	&__search-field {
		display: block; 
		height: 30px;
		width: 30px;
		border: none;
		background-color: transparent;
		transition: 0.3s;
		background-image: url('../img/magnifier-big.png');
		background-size: 100%;

		&:focus {
			position: absolute;
			z-index: 20;
			right: 0;
			width: ~"calc(100% - 40px)";
			background-color: #fff;
			background-image: none;
		}
	}

	&__search-close {
		position: absolute;
		z-index: 21;
		top: 0;
		right: 0;
		display: none;
		width: 30px;
		height: 30px;
		margin-top: 5px;
		background-color: #fff;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 2px;
			right: 13px;
			width: 2px;
			height: 25px;
			background-color: #666666;
			transform: rotate(45deg);
		}

		&::after {
			content: '';
			position: absolute;
			top: 2px;
			right: 13px;
			width: 2px;
			height: 25px;
			background-color: #666666;
			transform: rotate(-45deg);
		}
	}

	&__list {
		padding: 10px 0;

		a {
			padding: 10px 0;
		}

		@media @tablet {
			position: absolute;
			left: 0;
			top: -500px;
			z-index: 11;
			width: 250px;
			padding: 0;
			border: 1px solid #000;
			background-color: #161616;
			transition: 0.6s;
		}

		@media @mobile {
			left: -10px;
			width: ~"calc(100% + 20px)";
			overflow-y: scroll;
			max-height: ~"calc(100vh - 90px)";
		}
	}

	@media @tablet {
		&__list--show {
			top: 58px;
		}
	}

	@media @mobile {
		&__list--show {
			top: 45px;
		}
	}

	&__item {
		position: relative;
		display: inline-block;

		@media @tablet {
			display: block;
			margin-right: 0;
			text-align: center;

			> a {
				display: block;
				padding: 20px 0;
			}
		}

		@media @mobile {
			font-size: 14px;
		}

		a {
			padding-top: 30px;
			padding-bottom: 30px;
			padding-left: 22px;
			padding-right: 22px;
			transition: 0.1s;

			&:hover {
				background-color: #090909;
			}

			@media @tablet {
				&:hover {
					background-color: #161616;
				}
			}
		}

		span {
			padding-top: 30px;
			padding-bottom: 30px;
			padding-left: 22px;
			padding-right: 22px;
			transition: 0.1s;
			cursor: pointer;

			&:hover {
				background-color: #090909;
			}

			@media @tablet {
				display: block;
				padding-top: 20px;
				padding-bottom: 20px;

				&:hover {
					background-color: #161616;
				}
			}

			span {
				display: block;
			}
		}			
	}

	&__item--first,
	&__item--second,
	&__item--fifth {

		&:hover {

			@media (min-width: 1200px) {
				.main-nav__dropdown {
					z-index: 100;
					top: 49px;
					opacity: 1;
				}

				.main-nav__dropdown-item {

					a {
						height: auto;
						padding: 15px;
						font-size: 16px;
					}
				}
			}
		}
	}

	&__dropdown {
		position: absolute;
		top: 50px;
		width: auto;
		list-style: none;
		opacity: 0;
		transition: 0.3s;

		@media @tablet {
			top: 0px;
			left: 249px;
		}

		@media @mobile {
			position: relative;
			top: 0;
			left: 0;

			a {
				padding: 0;
				font-size: 0;
			}
		}
	}

	&__dropdown-item {

		a {
			display: block;
			white-space: pre;
			width: auto;
			height: 0;
			padding: 0;
			font-size: 0;
			background-color: rgba(9, 9, 9, 0.95);
			transition: 0.3s;

			&:hover {
				background-color: #ed383f;
			}
		}
	}

	@media @tablet {

		&__item--active {
			opacity: 1;

			.main-nav__dropdown {
				z-index: 100;
				top: 49px;
				opacity: 1;

				@media @tablet {
					top: 0;
				}

				@media @mobile {
					z-index: 1;
				}
			}

			.main-nav__dropdown-item {

				a {
					height: auto;
					padding: 15px;
					font-size: 16px;
				}
			}
		}
	}

	&__item--arrow {
		position: relative;

		span {
			position: relative;
			padding-left: 10px;
			padding-right: 40px;

			&::after {
				content: '';
				position: absolute;
				top: 33px;
				right: 15px;
				// left: ~"calc(50% - 7px)";
				// bottom: 13px;
				width: 8px;
				height: 8px;
				border-right: 1px solid #303030;
				border-bottom: 1px solid #303030;
				transform: rotate(45deg);
				transition: 0.1s;
			}

			@media @tablet {
				padding: 20px;

				&::after {
					right: 20px;
					top: 23px;
					bottom: auto;
					left: auto;
					transform: rotate(-45deg);
				}
			}

			@media @mobile {

				&::after {
					transform: rotate(45deg);
				}			
			}
		}

		&:hover {

			span {

				&::after {
					border-color: #fff;
				}
			}			
		}
	}
}