.jackpot {

	&__wrapper {
		padding-top: 200px;
		position: relative;
		width: 1200px;
		margin: 0 auto;
	}

	&__header {
		margin-bottom: 20px;
		font-size: 80px;
		line-height: 80px;
	}

	&__underheader {
		margin-bottom: 40px;
		font-size: 37px;
		color: #aeaeae;
		text-transform: uppercase;
	}

	&__button {
		margin-bottom: 95px;
		padding: 30px 65px;
		background-color: #ed383f;
		font-family: SFUIBold;
		font-size: 18px;
		transition: 0.1s;

		&:hover {
			background-color: #e3353c;
		}
	}

	&__background-text {
		position: absolute;
		z-index: -1;
		top: 90px;
		left: -30px;
		font-size: 176px;
		line-height: 176px;
		color: #191919;
	}

	&__image-wrapper {
		position: absolute;
		bottom: 0;
		right: -70px;
	}
}