body {
	background-color: #232323;
	color: #fff;
	font-family: SFUIRegular;
}

* {	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
	color: #fff;
}

button {
	border: none;
	color: #fff;
	cursor: pointer;
	outline: none;
	transition: 0.1s;
}

form { 

	* {
		-webkit-appearance: none;
		outline: none;
		border-radius: 0;
	}
}

.main-wrapper {
	margin-top: 60px;

	@media (min-width: 788px) {
		margin-top: 77px;
	}
}

.hidden {
	display: none;
}

#preloader {
	display: block;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../img/preloader.gif') center center no-repeat;
	background-size: 100% auto;
	background-color: #0b0b12;

	@media (min-width: 788px) {
		background-size: 600px;
	}
}