body {
	background-color: #232323;
	color: #fff;
	font-family: SFUIRegular;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
	color: #fff;
}

button {
	border: none;
	color: #fff;
	cursor: pointer;
	outline: none;
}

form * {
	-webkit-appearance: none;
	outline: none;
}

.clearfix {
	content: '';
	display: block;
	clear: both;
}

.hidden {
	display: none;
}