.partners {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 0;
		background-color: #313131;
	}

	&__wrapper {
		width: 1180px;
		margin: 0 auto;
		padding: 40px 0;

		@media @tablet {
			width: 748px;
		}

		@media @mobile {
			.mobile-wrap;
			padding: 20px 0;
		}
		
		img {
			width: 100%;
			margin-bottom: 30px;
			text-align: center;

			@media @mobile {
				margin-bottom: 20px;
			}
		}
	}

	&__text {
		text-align: center;
		font-size: 14px;
		line-height: 22px;

		@media @mobile {
			line-height: 20px;
		}
	}
}