.popular-games {

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 1200px;
		margin: 0 auto;
	}

	&__header {
		font-family: SFUIHeavy;
		font-size: 24px;
	}

	&__button {
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 20px;
		background-color: #6ab980;
		font-size: 14px;

		&:hover {
			background-color: #67b37c;
		}
	}

	&__preview-wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
	}

	&__preview {
		width: 285px;
		height: 155px;
		margin-bottom: 20px;
		background-color: #313131;
	}
}