.registration-form-mini {
	position: relative;
	width: 370px;
	padding: 20px;

	@media @tablet {
		display: none;
	}

	&__email,
	&__nickname,
	&__password,
	&__password-confirm {
		width: 100%;
		margin-bottom: 18px;
		border: none;
		padding: 12px 13px;
		font-family: SFUIRegular;
		color: #000;

		&::placeholder {
			font-family: SFUIRegular;
			color: #999999;
		}
	}

	&__password {
		transition: 0.3s;
	}

	&__password-confirm {
		width: 330px;
		position: absolute;
		z-index: -1;
		left: 20px;
		top: 130px;
		opacity: 0;
		transition: 0.3s;
	}

	&__select {
		font-family: SFUIRegular;
		color: #999999;
		width: 100%;
		margin-bottom: 18px;
		font-size: 13px;
	}

	&__label-checkbox {
		display: inline-block;
		position: relative;
		padding-left: 30px;
		margin-bottom: 20px;
		font-size: 12px;
		line-height: 20px;
		cursor: pointer;

		@media @mobile {
			margin-bottom: 20px;
		}
	}

	&__checkbox {
		position: absolute;
		left: 0;
		opacity: 0;
		cursor: pointer;
	}

	&__checkbox:not(checked) + label::before {
		content: '';
		position: absolute;
		left: 0;
		width: 18px;
		height: 18px;
		border: 1px solid #e3e3e3;
		background-color: #fff;
	}

	&__checkbox:checked + label::after {
		content: '';
		position: absolute;
		top: 5px;
		left: 3px;
		width: 13px;
		height: 5px;
		border-top: 1px solid #f38084;
		border-right: 1px solid #f38084;
		transform: rotate(135deg);
	}

	&__button {
		width: 100%;
		padding: 18px 20px;
		border: none;
		background-color: #ed383f;
		font-family: SFUIMedium;
		font-size: 16px;
		color: #fff;
		cursor: pointer;
		transition: 0.1s;

		&:hover {
			background-color: #de3137;
		}
	}

	.jq-selectbox,
	.jq-select-multiple {
		position: relative;
		display: inline-block;
	}
	.jq-selectbox select,
	.jq-select-multiple select {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 0;
		opacity: 0;
	}
	.jq-selectbox li,
	.jq-select-multiple li {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		white-space: nowrap;
	}
	.jq-selectbox {
		z-index: 10;
	}
	.jq-selectbox__select {
		position: relative;
	}
	.jq-selectbox__select-text {
		overflow: hidden;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.jq-selectbox__dropdown {
		position: absolute;
	}
	.jq-selectbox__dropdown ul {
		position: relative;
		overflow: auto;
		overflow-x: hidden;
		list-style: none;
		-webkit-overflow-scrolling: touch;
	}

	.jq-selectbox {
		cursor: pointer;
	}
	.jq-selectbox__select {
		position: relative;
		width: 100%;
		padding: 13px;
		background-color: #fff;
		transition: 0.1s;
	}
	.jq-selectbox__select::after {
		content: '';
		position: absolute;
		right: 12px;
		top: 15px;
		width: 7px;
		height: 7px;
		border-top: 1px solid #b7b7b7;
		border-right: 1px solid #b7b7b7;
		transform: rotate(135deg);
	}
	.jq-selectbox__select-text {
		display: block;
		width: 100%;
	}
	.jq-selectbox__dropdown {
		box-sizing: border-box;
		width: 100%;
		top: 42px;
		padding-left: 0;
		background: #FFF;
	}
	.jq-selectbox ul {
		margin: 0;
		padding: 0;
	}
	.jq-selectbox li {
		min-height: 18px;
		padding: 5px 12px;
		color: #231F20;
		transition: 0.1s;
	}
	.jq-selectbox li.selected {
		background-color: #e8e8e8;
		color: #000;
	}
	.jq-selectbox li.disabled {
		color: #bababa;
	}
	.jq-selectbox li.disabled:hover {
		color: #d5d5d5;
	}
	.jq-selectbox li:hover {
		background-color: #e8e8e8;
		color: #000;
	}
	.jq-selectbox li.option {
		padding-left: 25px;
	}
}

.registration-form-mini--bottom {
	background-color: rgba(76, 133, 161, 0.7);

	.registration-form-mini__button {
		background-color: #6ab980;

		&:hover {
			background-color: #589f6c;
		}
	}
}

.registration-form-mini--slide {
	width: 450px;
	padding-right: 100px;
	background-color: rgba(76, 133, 161, 0.7);

	.registration-form-mini__button {
		background-color: #6ab980;

		&:hover {
			background-color: #589f6c;
		}
	}
}