.slider {

	&__button {
		position: absolute;
		top: ~"calc(50% - 50px)";
		left: 50%;
		width: 35px;
		height: 35px;
		border-top: 3px solid #fff;
		border-right: 3px solid #fff;
		cursor: pointer;
	}

	&__button--left {
		transform: translatex(-590px) rotate(-135deg);
	}

	&__button--right {
		transform: translatex(560px) rotate(45deg);
	}
}

.slide {
	position: relative;

	&__image-wrapper {
		width: 100%;
	}

	&__image {
		width: 100%;
	}

	&__wrapper {
		width: 1200px;
		margin: 0 auto;
	}

	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translatey(-50%);
	}

	&__upper-text {
		display: block;
		margin-bottom: 20px;
		font-size: 30px;
	}

	&__header {
		margin-bottom: 30px;
		font-family: SFUIBold;
		font-size: 60px;
		text-transform: uppercase;
	}

	&__button {
		padding: 25px 40px;
		background-color: #ed383f;
		transition: 0.3s;

		&:hover {
			background-color: #ec262e;
		}
	}
}