.slide {
	position: relative;
	display: flex;
	align-items: center;

	&__image-wrapper {
		width: 100%;

		@media @mobile {
			position: relative;
			height: 55vw;
			overflow: hidden;
		}
	}

	&__image {
		width: 100%;

		@media @mobile {
			position: absolute;
			left: -35%;
			height: 100%;
			width: 170%;
		}
	}

	&__wrapper {
		width: 1180px;
		margin: 0 auto;
		text-align: center;

		@media @tablet {
			width: 748px;
		}

		@media @mobile {
			.mobile-wrap;
		}
	}

	&__text {
		position: absolute;
		// bottom: 50%;
		top: 50%;
		left: 50%;
		transform: translatey(-50%);
		text-align: left;
		// transform: translatey(150%);

		// @media @mobile {
		// 	transform: translatey(130%);			
		// }
	}

	&__upper-text {
		display: block;
		margin-bottom: 20px;
		font-size: 30px;

		@media @tablet {
			font-size: 25px;
		}

		@media @mobile {
			margin-bottom: 10px;
			font-size: 16px;
		}
	}

	&__header {
		margin-bottom: 30px;
		font-family: SFUIBold;
		font-size: 60px;
		text-transform: uppercase;

		@media @tablet {
			font-size: 40px;
		}

		@media @mobile {
			margin-bottom: 10px;
			font-size: 20px;
		}
	}

	&__button-wrapper {
		position: absolute;
		bottom: 15px;
		width: 100%;
		text-align: center;

		@media @tablet {
			.slide__button {
				padding: 20px;
				bottom: 10px;
			}
		}

		@media @mobile {
			bottom: 5px;

			.slide__button {
				padding: 8px 10px;
			}
		}
	}

	&__button {
		display: inline-block;
		font-family: SFUIMedium;
		max-width: 170px;
		padding: 25px 40px;
		background-color: #ed383f;
		font-size: 16px;

		&:hover {
			background-color: #de3137;
		}

		@media @mobile {
			display: inline-block;
			padding: 8px 10px;
			max-width: 120px;
		}
	}

	&__button--centered {
		margin: 0 auto;
	}

	&__form-bg {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		position: absolute;
		right: ~"calc(50% - 190px)";
		top: 0;
		width: ~"calc(50% + 190px)";
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);

		@media @tablet {
			width: ~"calc(50% + 100px)";
			right: ~"calc(50% - 100px)";
		}

		@media @mobile {
			width: 100%;
			right: auto;
		}
	}

	&__form-wrapper {
		display: flex;
		align-items: center;
		height: 100%;
		width: 780px;

		@media @tablet {
			flex-wrap: wrap;
			justify-content: center;
			width: 470px;
		}

		@media @mobile {
			flex-direction: column;
			width: 100%;
		}
	}

	&__reg-button {
		display: none;

		@media @tablet {
			display: block;
			width: 300px;
			padding: 18px 20px;
			border: none;
			background-color: #ed383f;
			font-family: SFUIMedium;
			font-size: 16px;
			color: #fff;
			cursor: pointer;
			transition: 0.1s;

			&:hover {
				background-color: #dd363c;
			}
		}

		@media @mobile {
			width: auto;
			padding: 8px 10px;
		}
	}

	&__content-wrapper {
		position: absolute;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}
}

.slide-bonus {
	width: 395px;
	text-align: center;

	@media @mobile {
		width: 100%;
		margin-bottom: 5%;
	}

	> span {
		display: block;
	}

	&__first-line {
		font-family: SFUIHeavy;
		font-size: 175px;

		@media @tablet {
			font-size: 80px;
		}

		@media @mobile {
			font-size: 40px;
		}
	}

	&__second-line {
		font-family: SFUIBold;
		margin-bottom: 10px;
		font-size: 38px;
		text-transform: uppercase;

		@media @tablet {
			margin-bottom: 5px;
			font-size: 30px;
		}
	}

	&__third-line {
		font-size: 21px;
		margin-bottom: 15px;

		@media @tablet {
		margin-bottom: 10px;
			font-size: 16px;
		}
	}

	&__link {
		display: inline-block;

		border-bottom: 1px dashed #fff;
	}
}