.tabs {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 70px;
		width: 100%;
		height: 1px;
		background-color: #3d3d3d;

		@media @mobile {
			display: none;
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 1180px;
		margin: 0 auto;

		@media @tablet {
			width: 748px;
		}

		@media @mobile {
			.mobile-wrap;
		}
	}

	&__select-form {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 200px;

		&::after {
			content: '';
			position: absolute;
			top: 25px;
			right: 10px;
			width: 12px;
			height: 12px;
			border-right: 2px solid #858585;
			border-bottom: 2px solid #858585;
			transform: rotate(45deg);
			transition: 0.1s;
		}

		&:hover {
			transition: 0.1s;

			&::after {
				border-right: 2px solid #fff;
				border-bottom: 2px solid #fff;
			}
		}
	}

	&__provider {
		font-family: SFUIMedium;
		font-size: 14px;
	}

	&__select {
		position: relative;
		padding-top: 28px;
		padding-right: 35px;
		padding-bottom: 25px;
		padding-left: 10px;
		border: none;
		background-color: #232323;
		font-family: SFUIMedium;
		font-size: 14px;
		color: #fff;
		cursor: pointer;
		outline: none;

		&:hover {
			background-color: #ed383f;
			transition: 0.1s;
		}
	}

	@media @tablet {

		&__select-form {
			width: 100%;
		}
	}
}

.switchers {
	position: relative;

	&__switcher {
		position: relative;
		display: inline-block;
		margin-right: -4px;
		padding-top: 30px;
		padding-right: 15px;
		padding-bottom: 27px;
		padding-left: 55px;
		line-height: 14px;
		font-size: 14px;
		font-family: SFUIMedium;
		cursor: pointer;
		transition: 0.1s;

		&:hover {
			background-color: #ed383f;
			transition: 0.1s;

			.switchers__image {
				background-image: url('../img/sprite-hover.png');
			}
		}

		@media @tablet {
			display: none;
		}
	}

	&__switcher--active {
		background-color: #ed383f;

		.switchers__image {
			background-image: url('../img/sprite-hover.png');
		}
	}

	&__image {
		position: absolute;
		top: 22px;
		left: 10px;
		width: 35px;
		height: 35px;
		background-image: url('../img/sprite.png');
		transition: 0.1s;
	}

	&__image--first {
		background-position: -58px 0;
	}

	&__image--third {
		background-position: -112px 0;
	}

	&__image--fourth {
		background-position: -166px 0;
	}

	&__image--fifth {
		background-position: -222px 0;
	}
}

.tab {
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	&__header {
		font-family: SFUIHeavy;
		font-size: 24px;
		line-height: 24px;
	}

	&__button {
		padding: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: #6ab980;

		&:hover {
			background-color: #589f6c;
		}
	}

	&__variants-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
	}

	&__variant {
		width: ~"calc(25% - 15px)";
		height: 160px;
		background-color: #313131;
		margin-bottom: 20px;

		&:last-of-type {
			display: none;
		}

		@media @tablet {
			width: ~"calc(33.33% - 12px)";

			&:last-of-type {
				display: inline-block;
			}
		}

		@media @mobile {
			width: 100%;

			&:nth-of-type(4),
			&:nth-of-type(5),
			&:nth-of-type(6),
			&:nth-of-type(7),
			&:nth-of-type(8),
			&:nth-of-type(9) {
				display: none;
			}
		}
	}

	&__more-button {
		display: block;
		margin: 0 auto;
		padding: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		border: 2px solid #6ab980;
		transition: 0.1s;
		cursor: pointer;

		&:hover {
			background-color: #65ad79;
		}
	}
}

.tab--active {
	display: flex;
}